<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Ingresar archivo css-->
    <link rel="stylesheet" href="assets/css/styles.css">


</head>
<body>
    <!--EN BLOQUE-->
    <h1>TITULO</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque distinctio beatae cum, incidunt vel cupiditate quo laudantium quaerat repellendus veritatis dolore hic labore qui? Sunt illo exercitationem nemo nobis laboriosam!</p>


    <!--EN LINEA-->
    <span class="saludo">HOLA</span>
    <img src="assets/img/pokemon.jpg" height="200" alt="pokemon2">
    <a href="https://www.youtube.com/">youtube</a>
    <a href="../index.html">Principal</a>
    
    <!--listas-->
    <ol>
        <li>Primero</li>
        <li>segundo</li>
        <li>tercero</li>
        <li>cuarto</li>

    </ol>


    <!--Css en el documento-->
    <style>
        body{
            background-color: aqua;
        }
    </style>

    
    <!--Enlazar archivo Javascript-->
    <script src="assets/js/main.js"></script>
    <!--si se aplica el link de archvio y se escribe codigo dentro del archivo html deja de funcionar-->
</body>
</html>


<!--caja azul orden y caja naranja margen-->