<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>

    <main>
    <h1> Jose Eduardo Osorio Castro </h1>

    <p>Comprometido en la realización de diseños funcionales, estéticos, ambientales y sociales; aliado con los valores de responsabilidad, respeto y honestidad.
    Mi objetivo profesional y personal es desarrollarme como un arquitecto responsable y comprometido con los proyectos desarrollados por mi o en colaboración, siempre para generar un impacto positivo en la vida de los usuarios, el medio ambiente y mi vida personal. </p>

    <a href=""></a>
    <hr>

    <ul>
        <li>CUALIDADES:</li>
        <ol>
            <li>Comprometido</li>
            <li>Resiliente</li>
            <li>Responsable</li>
            <li>Creativo</li>
            <li>Honesto</li>
            <li>Disciplinado</li>
        </ol>
        
    </ul>

    <ul>
        <li>INTERESES:</li>
        <ol>
            <li>Permacultura</li>
            <li>Diseño Bioclimatico</li>
            <li>Jardineria</li>
            <li>Ejerciocio</li>
        </ol>
        
    </ul>
    
   

    













    </main>












    <footer>

    </footer>

</body>
</html>